@import "reset.css";
@import "general.css";

* {
    background: lightgray;
}

#cost-container {
    padding: 20px;
    text-align: center;
}

#titolo {
    font-size: 2em;
    font-weight: bold;
}

#costo {
    font-size: 2em;
}